models/
IngredientsClassification/dataset
IngredientsClassification/Recipes10T
IngredientsClassification/results
IngredientsClassification/testRecipes
IngredientsClassification/FoodClassyScrapping
IngredientsClassification/trains
FoodnotFood/Dataset
datasets
